* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
}

.offerTrail {
    border-bottom: 2px solid #000;
    font-size: medium;
    font-weight: bolder;
    color: #3D5A23;
    padding: 0.5% 0;
    background-color: #D8EBC7;
    text-align: center;
}

.nav {
    display: flex;
    list-style: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.nav ul {
    display: flex;
    list-style: none;
    /* border: 1px solid rgb(0, 0, 0); */
}

.nav {
    padding: 2% 0;
}

.nav h1 {
    font-weight: bolder;
    font-size: larger;
}

.logo {
    color: #3D5A23;
    display: flex;
    padding: 0 5%;
    cursor: pointer;
    list-style: none;
}

.logo a {
    text-decoration: none;
}

.nav ul {
    width: 40%;
}

.nav ul li a {
    margin: 0 40px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.heading h2 {
    color: #3D5A23;
    font-size: 50px;
    font-weight: bolder;
    margin: 80px;
    padding: 20px 10%;
    width: 30%;
}

.heading p {
    padding: 20px 15%;
    width: 30%;
    position: absolute;
    top: 56%;
    font-weight: bolder;
    font-size: large;
}

.button {
    color: white;
    background-color: #3D5A23;
    border-radius: 28px;
    border: none;
    width: 8%;
    padding: 10px 15px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    margin: 89px;
    position: absolute;
    top: 59%;
    left: 8%;
}

.button:hover {
    cursor: pointer;
    color: #000;
    background-color: white;
    border: 1px solid #000;
    transition: all 0.25s ease-in-out;
}

.image img {
    width: 40%;
    position: absolute;
    top: 23%;
    left: 50%;

}

.flexcontainer {
    width: 100%;
    height: 200px;
    border-top: 1px solid black;
    margin: 0 auto;
    position: absolute;
    top: 115%;
}

.firstbox p {
    width: 12%;
    position: absolute;
    top: 32%;
    left: 10.5%;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
}

.secondbox {
    width: 12%;
    position: absolute;
    top: 32%;
    left: 31%;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
}

.thirdbox {
    width: 15%;
    position: absolute;
    top: 32%;
    left: 55%;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
}

.fourthbox {
    width: 12%;
    position: absolute;
    top: 32%;
    left: 78%;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
}

.lastline p {
    width: 100%;
    position: absolute;
    top: 143%;
    padding: 12px 0;
    border-top: 1px solid #000;
    font-weight: bolder;
    text-align: center;
    background-color: #E2E2F2;
}

.socialmedia ul {
    position: absolute;
    top: 89%;
    left: 77.1%;
    list-style: none;
    display: flex;
}

.socialmedia ul li {
    margin: 0 10px;
}